<p id="notice"><%= notice %></p>


<h1>Patients</h1>

<table>
  <thead>
    <style>
      .center {
          margin: auto;
          width: 60%;
          border: 3px solid #73AD21;
          padding: 10px;
      }
    </style>    
  </thead>

  <tbody>
    <tr>
      <td>Patient Id</td>
      <td colspan="3"></td>
    </tr>
    <% @patients.each do |patient| %>
    <div id="main-container" class="container-fluid">
      <div class="row">
        <div id="sidebar" class="col-xs-3">

        </div>
        <div id="main-content" class="col-xs-9">
          <tr>
            <td><%= patient.id %></td>
            <td><%= link_to 'Acute', acute_test_path%></td>
            <td><%= link_to 'Chronic', 
                  :controller => "chronics",
                  :action => "index",
                  :p_id => patient.id%></td>
          </tr>
        </div>
      </div>
    </div>
    

    <% end %>
  </tbody>
</table>

<br>

<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        <%= link_to 'New Patient', new_patient_path, class: 'btn btn-success' %>
        <%= link_to 'Homepage', root_path, class: "btn btn-primary" %>
      </a>
        

    </div>
  </div>
</nav>
